<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Soma Nyumbani </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="day-nav">
    <ion-button
      fill="clear"
      [disabled]="db.activeDay===1"
      (click)="db.setActiveDay(db.activeDay-1)"
      ><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon
    ></ion-button>
    <h2>Day {{db.activeDay}}</h2>
    <ion-button
      fill="clear"
      [disabled]="db.activeDay===(db.dailySessions$ | async).length"
      (click)="db.setActiveDay(db.activeDay+1)"
      ><ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon
    ></ion-button>
  </div>
  <!-- Active Session Template -->
  <div *ngIf="(db.dailySessions$ | async)[db.activeDay-1] as session">
    <div class="activities-container">
      <app-session-activity
        *ngFor="let activityId of session.activities, index as j"
        [activity]="(db.activities$ | async)[activityId]"
        [index]="j"
        [routerLink]="['session',j+1]"
      ></app-session-activity>
    </div>
  </div>
</ion-content>
