<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>
    We hope you enjoy using the app. If you have any questions or feedback
    regarding the app please feel free to send via email to:
  </p>
  <a href="mailto:contact@somanyumbani.com?subject=Soma%20Nyumbani%20App">
    <ion-button fill="outline">
      <ion-icon style="margin-right: 5px" name="mail-outline"></ion-icon
      >contact@somanyumbani.com
    </ion-button>
  </a>
  <p style="margin-top: 2em">
    If you would like more information about Soma Nyumbani, please visit the:
  </p>
  <ion-button routerLink="/about" fill="clear">
    <ion-icon style="margin-right: 5px" name="information-circle"></ion-icon
    >About Page
  </ion-button>
</ion-content>
