<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Soma Nyumbani </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="day-nav">
    <ion-button fill="clear" [disabled]="dayId===1" (click)="goToDay(dayId-1)"
      ><ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon
    ></ion-button>
    <h2>Day {{dayId}}</h2>
    <ion-button
      fill="clear"
      [disabled]="dayId===(db.days$ | async).length"
      (click)="goToDay(dayId+1)"
      ><ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon
    ></ion-button>
  </div>
  <!-- Active Session Template -->
  <div *ngIf="(db.days$ | async)[dayId-1] as day">
    <div class="sessions-container">
      <app-session-summary-card
        *ngFor="let sessionId of day.sessions, index as j"
        [session]="(db.sessions$ | async)[sessionId]"
        [index]="j"
        [routerLink]="['session',j+1]"
      ></app-session-summary-card>
    </div>
  </div>
</ion-content>
