.day-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-nav > h2 {
  flex: 1;
  text-align: center;
}

.activities-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
}
