<ion-app>
  <ion-menu side="start" type="overlay" contentId="main">
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list style="height: 100%; display: flex; flex-direction: column">
        <ion-item button routerLink="About"
          ><ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>About</ion-label></ion-item
        >
        <ion-item button routerLink="Sessions"
          ><ion-icon name="grid" slot="start"></ion-icon>
          <ion-label>Sessions</ion-label></ion-item
        >
        <ion-item button routerLink="Search"
          ><ion-icon name="search" slot="start"></ion-icon>
          <ion-label>Search Topics</ion-label></ion-item
        >
        <ion-item button routerLink="Downloads"
          ><ion-icon name="download" slot="start"></ion-icon>
          <ion-label>Downloads</ion-label></ion-item
        >
        <!-- bottom items -->
        <div style="margin-top: auto"></div>
        <ion-item button routerLink="Downloads">
          <ion-label>Privacy Policy</ion-label></ion-item
        >
        <ion-item button routerLink="Downloads">
          <ion-label>Terms and Conditions</ion-label></ion-item
        >
        <ion-item button routerLink="Downloads">
          <ion-label>Contact</ion-label></ion-item
        >
        <ion-item lines="none" class="app-version">
          <span slot="end">v{{ APP_VERSION }}</span></ion-item
        >
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
