.day-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.day-nav > h2 {
  flex: 1;
  text-align: center;
}

.app-version {
  position: absolute;
  right: 5px;
  top: 35px;
  opacity: 0.2;
}
