<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Soma Nyumbani</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Next</h2>
  <ion-card button class="nav-card" routerLink="/report">
    <div class="nav-card-content">
      <img src="assets/images/teach.svg" class="nav-card-image" />
      <div class="nav-card-title">Teach a new session</div>
    </div>
  </ion-card>
  <h2>Previous</h2>
  <p>Sessions you have taught will appear here</p>
</ion-content>
