<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Soma Nyumbani </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <section *ngFor="let session of db.dailySessions$ | async, index as i">
    <h2>{{ session.date | date}}</h2>
    <app-session-activity
      *ngFor="let activityId of session.activities"
      [activity]="(db.activities$ | async)[activityId]"
      [index]="i"
    ></app-session-activity>
  </section>
</ion-content>
